<html>
    <head>
        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

        <link
        rel="stylesheet" href="/stylesheets/minorproject.css"/>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="loginContainer">
            <div class="loginbox">
                <div class="row">
                    <div class="col s12 aligncenter">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxQnC2DOpYG1c3pv3ba8o3Nac4tR_dAC8inw&usqp=CAU"/>
                    </div>
                </div>
                <div class="row">
                    <div class="loginText aligncenter">Login</div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input id="username" type="text" class="username">
                        <label for="username">User Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label>
                            <input type="checkbox" class="Rememberme"/>
                            <span>Remember Me</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 aligncenter">
                        <input type="button" value="Log in" class="btn"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 aligncenter">
                        <a href="http://localhost:3000/product/display_all_products">Register Now</a>
                    </div>
                    <div class="col s6 aligncenter">
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
